name: repo dispatch
on:
  repository_dispatch:
    types: ["build"]
jobs:
  checkout-action:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          ref: develop
      - name: payload
        run: echo ${{ github.event.client_payload.env}}
